<main>
    <p color="#535353">Thank you for contacting me (David Lerner). I'll be back with you very shortly.</p>
    <p color="#535353">Your message:</p>
    <p color="#535353">{{message}}</p>
</main>
