<footer class="w3-container w3-padding-32 w3-dark-grey">
    <div class="w3-row-padding">
      <div class="w3-third">
        <h3>Thanks</h3>
        <p>Thanks for visiting my website. It was done with Angular based on a W3Schools template, it uses firebase for statistics and emails.</p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </div>
    
      <div class="w3-third">
        <h3>BLOG POSTS</h3>
        <ul class="w3-ul w3-hoverable">
          <li class="w3-padding-16">
            <img src="https://www.w3schools.com/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Lorem</span><br>
            <span>Sed mattis nunc</span>
          </li>
          <li class="w3-padding-16">
            <img src="https://www.w3schools.com/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Ipsum</span><br>
            <span>Praes tinci sed</span>
          </li> 
        </ul>
      </div>
  
      <div class="w3-third">
        <h3>POPULAR TAGS</h3>
        <p>
          <span appHoverLight>Angular</span> 
          <span appHoverLight>Ionic</span> 
          <span appHoverLight>Vue.js</span>
          <span appHoverLight>HTML</span> 
          <span appHoverLight>ejs</span> 
          <span appHoverLight>handlebars</span>
          <span appHoverLight>Jade</span> 
          <span appHoverLight>CSS</span> 
          <span appHoverLight>SASS</span> 
          <span appHoverLight>SCSS</span>
          <span appHoverLight>Bootstrap</span> 
          <span appHoverLight>API</span> 
          <span appHoverLight>Node.js</span>
          <span appHoverLight>express.js</span> 
          <span appHoverLight>socket.io</span>
          <span appHoverLight>MongoDB</span> 
          <span appHoverLight>Firebase</span>
          <span appHoverLight>Heroku</span>
          <span appHoverLight>AWS</span>
          <span appHoverLight>Elastic Beanstalk</span>
          <span appHoverLight>S3</span>
          <span appHoverLight>Route 53</span>
          <span appHoverLight>Games</span>
          <span appHoverLight>Web development</span>
        </p>
      </div>
  
    </div>
</footer>
