<div class="w3-container w3-padding-large w3-grey">
    <h4 id="contact"><b>Contact Me</b></h4>
    <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
        <a href="mailto:lernerlombrozo@gmail.com?Subject=Your%20website" target="_blank"><p>lernerlombrozo@gmail.com</p></a>
      </div>
      <div class="w3-third w3-teal">
        <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
        <a href="https://www.google.com/maps/@53.5187444,-113.5004694,13z" target="_blank"><p>Edmonton, AB, Canada</p></a>
      </div>
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
        <a href="tel:1-780-236-0396"><p>+1 (780) 236 0396</p></a>
      </div>
    </div>
    <hr class="w3-opacity">

    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="name" id ="name" [(ngModel)]="model.name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="email" id ="email" [(ngModel)]="model.email" email required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="message" id ="message" [(ngModel)]="model.message" required>
      </div>
      <button type="submit" class="w3-button w3-black w3-margin-bottom" [disabled]="!f.valid"><i class="fa fa-paper-plane w3-margin-right"></i>Send Message</button>
    </form>

  </div>
