<div class="w3-light-grey w3-content" style="max-width:1600px">
  <app-nav-bar></app-nav-bar>
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">
  <!-- Header -->
  <app-header></app-header>
  <!-- Portfolo-->
  <app-portfolio></app-portfolio>
  <!-- Images of Me -->
  <app-about></app-about>
  <!-- Contact Section -->
  <app-contact></app-contact>
  <!-- Footer -->
  <app-footer></app-footer>
  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>
  <!-- End page content -->
</div>
