@import '../../app.component';

.bg-img{
    width:100%;
    height:250px;
    cursor: pointer;

    // cuts right or bottom
    // background-size: cover;

    // cuts top and bottom or left and right
    background:center;
    background-size: cover;

    // looses proportionality;
    // background-size: 100% 100%;

    //adds bar right or bottom
    // background-size: contain;
    // background-repeat: no-repeat;

    //adds bars top and bottom or left and right
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center center;

    //duplicate
    // background-size: contain;

    &:hover {
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }
}

.force-size{
    height: 300px;
    text-overflow: ellipsis;
    padding-top:16px;
    overflow: hidden;
    a { 
        text-decoration: none; 
        font-size: 1.2em;
    };
}